<a href="https://colab.research.google.com/github/GhaziDhouafli/Machine-Learning-Projects/blob/main/Decision_Tree_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn import metrics
import graphviz

In [32]:
gold_data= pd.read_csv('/content/gld_price_data.csv')
gold_data.head()

       Date          SPX        GLD        USO     SLV   EUR/USD
0  1/2/2008  1447.160034  84.860001  78.470001  15.180  1.471692
1  1/3/2008  1447.160034  85.570000  78.370003  15.285  1.474491
2  1/4/2008  1411.630005  85.129997  77.309998  15.167  1.475492
3  1/7/2008  1416.180054  84.769997  75.500000  15.053  1.468299
4  1/8/2008  1390.189941  86.779999  76.059998  15.590  1.557099

In [33]:
X= gold_data.drop(['Date','GLD'],axis=1)
Y=gold_data['GLD']

In [34]:
X_train , X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.2,random_state=2)
model= tree.DecisionTreeRegressor()
model.fit(X_train,Y_train)

DecisionTreeRegressor()

In [35]:
test=model.predict(X_test)
print(test)

[168.5       80.93     114.769997 127.760002 121.190002 155.139999
 148.220001 126.559998 117.639999 125.620003 117.690002 174.580002
 141.919998 167.179993 115.849998 116.730003 134.100006 168.970001
 159.570007 132.850006 155.360001 125.699997 177.210007 157.339996
 125.459999  93.720001  84.279999 122.290001 119.220001 167.869995
  87.370003 124.790001  91.330002 117.919998 121.300003 135.410004
 114.57     115.800003 134.119995 105.720001 104.370003  87.239998
 127.489998 118.769997 157.779999 120.120003 108.419998 107.839996
  93.459999 128.539993  73.300003 113.260002 120.110001 110.879997
 118.519997 120.730003 161.320007 161.020004 146.869995  85.199997
  93.800003  86.879997  90.949997 119.169998 126.139999 127.419998
 172.229996 122.669998 116.209999  97.43     170.130005 142.509995
 132.490005 120.910004 122.879997 118.82     113.910004 118.82
 106.260002 127.440002 114.209999 108.470001 115.57     119.699997
  89.910004  87.989998 142.380005 127.150002 114.209999 110.239998
 107.889999  73.080002 173.020004 113.639999 121.209999 128.5
 154.039993  91.769997 134.410004 161.320007 124.360001 126.18
 130.369995 113.910004 121.160004  92.059998 111.459999 172.229996
 159.050003 113.639999 107.040001  80.650002 113.779999 125.540001
 108.089996 118.970001 157.320007 159.429993 120.139999 133.139999
 102.529999 116.029999 118.959999 112.440002 102.669998 160.559998
  97.43     139.350006 125.290001 171.509995 123.730003 128.539993
 128.279999 115.199997 112.139999 124.32     101.419998  89.5
 125.959999  99.669998 107.040001 115.849998 116.730003  97.43
 121.650002 165.070007  86.879997 107.669998 118.559998 127.440002
 125.029999  79.790001 121.010002 160.619995  89.5      109.760002
 118.279999 174.399994 103.559998 104.860001 122.82     160.619995
  86.739998  92.790001 111.57     177.210007 114.739998 118.959999
  93.860001 124.910004 165.979996 113.910004 117.260002  87.989998
 150.410004 119.779999  89.440002 113.010002 118.769997 118.860001
  87.690002  94.599998 114.459999 118.230003 120.980003 126.449997
 122.080002 137.220001 165.649994 119.32     121.129997 153.
 119.599998 174.399994 102.279999 104.800003 149.880005 114.209999
 124.360001 146.539993 119.75     113.639999 113.010002 112.660004
 132.690002 118.099998 102.309998 115.940002 104.040001  98.360001
 117.290001  89.440002  91.93     155.970001 102.940002 154.470001
 115.050003 137.660004  90.610001 115.139999 108.589996 119.510002
 122.709999 166.300003  93.389999 137.660004 121.129997 120.160004
 105.68     135.020004 122.169998 116.029999 113.910004 128.789993
 123.32     125.699997 121.110001  87.239998 132.009995 135.380005
  91.5      161.520004 161.320007 126.949997 168.       110.290001
 108.550003 103.019997  94.730003 129.740005 107.040001 161.520004
 121.650002 131.740005 130.369995 157.210007  90.610001 177.210007
 129.860001 126.449997  86.699997 124.870003 150.479996  89.440002
 107.669998 108.470001  88.32     134.300003 156.       154.910004
  72.5      153.       126.809998 127.169998 128.070007 108.470001
 157.160004 113.910004 116.730003 123.389999 154.570007 122.760002
 156.479996  93.870003 125.379997 124.18      88.580002  91.610001
 125.620003 129.710007 112.589996 116.839996 120.970001 128.789993
 120.730003 135.369995  92.949997 118.32     112.940002  94.68
 109.129997  88.32     107.970001  90.809998  93.389999 130.369995
 161.419998  88.800003 119.730003 133.25     124.400002 129.710007
 101.419998  91.309998 130.800003 121.650002 108.220001 173.199997
 113.290001  86.510002 118.470001  91.25     161.589996 116.470001
 123.620003 159.429993 120.559998 114.269997 108.309998 126.800003
  75.650002 103.18     129.740005 121.589996  92.730003 132.199997
 118.559998 116.769997 154.470001 161.220001 110.879997 132.320007
 119.349998 160.559998 117.449997 160.649994 114.769997 116.5
 145.729996 115.43     126.339996 167.339996 117.139999 124.779999
 152.300003 153.050003 132.009995 115.43     121.690002 129.740005
  90.279999 125.32     157.210007 110.459999 107.669998 162.300003
 117.739998 165.800003 136.029999 113.269997 154.130005 169.610001
 117.769997 114.720001 161.449997  83.870003 127.120003 128.270004
 128.110001 124.360001 124.389999  90.800003 151.910004  96.5
 135.369995  86.449997 108.470001 115.       111.57     124.959999
  91.449997 125.       161.419998 119.82     165.649994 126.449997
 112.739998 127.599998  95.449997  94.349998 102.279999 120.739998
  81.989998 126.589996 161.070007 116.610001 117.919998 117.610001
 124.389999 120.720001 120.940002 118.18     107.040001 150.410004
 123.730003 115.32      74.       127.970001 157.779999 118.
 125.540001  88.32     102.199997 123.389999 120.360001  73.790001
 152.160004 120.110001 104.800003  88.529999 114.769997 172.410004
 121.010002 160.289993 113.669998 121.580002 118.559998  96.5
 119.169998 126.07     118.239998  97.800003 157.779999 123.620003
 145.600006 159.300003 115.639999 123.239998 147.179993 128.470001
 166.130005 132.690002 120.839996 173.020004 108.82     122.019997
 136.050003 103.419998]

In [36]:
error_score=metrics.r2_score(Y_test,test)
print(error_score)

0.9821825068760152